.DS_Store
.tscache
.#*

# XXX: Temporary, until we have the TypeScript and JavaScript better separated out.
src/ebg/**/*.js

src/phan.analysis.txt

# Local-only code-coverage reports (see README "Generating code-coverage reports")
/coverage/
