/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * EmptyGame implementation : © Nicolas Gocel <nicolas.gocel@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * emptygame.css
 *
 * EmptyGame stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (emptygame_emptygame.tpl), and to HTML elements you create dynamically
    (in emptygame.js).
    
    Usually, you are using CSS to:
    
    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.
        
        
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/

@import url(../../../css/csslayer.css); /* Note: you must not use any @import directive other than this one */

/********* You can start writing your CSS below this line: **********/

html,
body {
  background-image: url("img/stars.jpg");
}

#up {
  text-align: center;
  margin-top: 10px;
  position: relative;
}

#left {
  position: absolute;
  left: 10px;
  top: 0px;
  width: 200px;
}

/** Table layout **/
#table {
  padding: 10px;
  display: inline-block;
  border-radius: 20px;
}

#turn_count_wrap {
  font-weight: bold;
  padding-bottom: 10px;
}

#mission_description {
  text-align: justify;
  padding-bottom: 10px;
}

.hidden {
  display: none !important;
}

.appears {
  -webkit-animation: appears 0.5s forwards;
  animation: appears 0.5s forwards;
}

@-webkit-keyframes "appears" {
  0% {
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
@keyframes "appears" {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.tasks {
  position: absolute;
  top: 180px;
  left: 5%;
  width: 90%;
  height: 200px;
  margin: 0;
  padding: 0;
  border-radius: 5px;
}

.centraltable {
  position: absolute;
  top: 180px;
  left: 200px;
  width: 400px;
  height: 200px;
  margin: 0;
  padding: 0;
  border-radius: 5px;
}

#playertables {
  display: inline-block;
  position: relative;
}

#playertables.five_players {
  width: 650px;
  height: 380px;
}

.playertable {
  position: absolute;
  text-align: center;
  width: 400px;
  height: 160px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;
}

.playertablename {
  font-weight: bold;
  margin-top: 5px;
  height: 18px;
}

.playertablecards {
  height: 140px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/** Position of players according to their number **/

/* 3players*/

#playertables.three_players {
  width: 820px;
  height: 560px;
}
.three_players .playertable_0 {
  /* South */
  left: 200px;
  bottom: 0px;
}
.three_players .playertable_1 {
  /* North-West */
  left: 0px;
  top: 0px;
}

.three_players .playertable_2 {
  /* North-East */
  right: 0px;
  top: 0px;
}

.three_players .playertable_3 {
  visibility: hidden;
}

.three_players #playertablecard_0 {
  bottom: 20px;
  margin-left: -38px;
  left: 50%;
}
.three_players #playertablecard_1 {
  top: 20px;
  left: 20px;
}

.three_players #playertablecard_2 {
  top: 20px;
  right: 20px;
}
.three_players #playertablecard_3 {
  visibility: hidden;
}

/* 4 players */

#playertables.four_players {
  width: 820px;
  height: 560px;
}

.four_players .playertable {
  width: 350px;
}

.four_players .playertable_0 {
  /* South */
  left: 0px;
  bottom: 0px;
}

.four_players .playertable_1 {
  /* North-West */
  left: 30px;
  top: 0px;
}
.four_players .playertable_2 {
  /* North-East */
  right: 30px;
  top: 0px;
}
.four_players .playertable_3 {
  /* East */
  right: 0px;
  bottom: 0px;
}

.four_players #playertablecard_0 {
  bottom: 20px;
  left: 20px;
}
.four_players #playertablecard_1 {
  top: 20px;
  left: 115px;
}

.four_players #playertablecard_2 {
  top: 20px;
  right: 115px;
}
.four_players #playertablecard_3 {
  bottom: 20px;
  right: 20px;
}

.five_players .playertable_0 {
  /* South */
  left: 50%;
  bottom: 0px;
  margin-left: -90px; /* half of 183 */
}
.five_players .playertable_1 {
  /* West */
  left: 0px;
  top: 70%;
  margin-top: -83px; /* half of 166 */
}
.five_players .playertable_2 {
  /* North-West */
  left: 25%;
  top: 0px;
  margin-left: -45px; /* One quarter of 183 */
}
.five_players .playertable_3 {
  /* North-Est */
  left: 75%;
  top: 0px;
  margin-left: -135px; /* Three quarters of 183 */
}
.five_players .playertable_4 {
  /* East */
  right: 0px;
  top: 70%;
  margin-top: -83px; /* half of 166 */
}

/** cards **/

.card_com {
  position: relative;
  display: inline-block;
  width: 76px;
  height: 120px;
  margin-left: 10px;
}

.playertablecard {
  position: absolute;
  width: 76px;
  height: 120px;

  border-style: dashed;
  border-width: 1px;
  border-radius: 5px;
}

.cardontable {
  position: relative;
  top: 0px;
  left: 0px;
  width: 76px;
  height: 120px;
  background-image: url("img/cards.png");
  background-size: 1100%;
  filter: drop-shadow(1px 1px 2px #000);
  -webkit-filter: drop-shadow(1px 1px 2px #000);
  border-radius: 5px;
}

.card_com .cardontable {
  position: absolute;
}

.card_com.selectable .cardontable {
  pointer-events: none;
}

.radio {
  position: absolute;
  width: 30px;
  height: 30px;
  background-image: url("img/sprites.png");
  background-size: 1100%;
  background-position: 0% 100%;
  left: 23px;
  filter: drop-shadow(1px 1px 2px #000);
  -webkit-filter: drop-shadow(1px 1px 2px #000);
  z-index: 3;
}

.radio.top {
  top: -6px;
}

.radio.middle {
  top: 44px;
}

.radio.bottom {
  top: 102px;
}

.radio.used {
  top: 44px;
  background-position: 20% 100%;
}

.check_ok {
  position: absolute;
  width: 40px;
  height: 40px;
  background-image: url("img/sprites.png");
  background-size: 1100%;
  background-position: 80% 100%;

  left: 10px;
  top: 44px;
  filter: drop-shadow(0px 0px 2px #000);
  -webkit-filter: drop-shadow(0px 0px 2px #000);
}

#endPanel .check_ok {
  position: initial;
}

.tbd {
  display: none !important;
}

.nok {
  background-position: 70% 100%;
}

#distress {
  position: relative;
  width: 60px;
  height: 60px;
  background-image: url("img/sprites.png");
  background-size: 1100%;
  background-position: 100% 0%;
  margin-top: 10px;
  margin-left: 70px;

  filter: drop-shadow(0px 0px 2px #000);
  -webkit-filter: drop-shadow(0px 0px 2px #000);
}

#distress.activated {
  background-position: 10% 100%;
}

/** Task marker **/
.task_marker {
  position: absolute;
  width: 30px;
  height: 30px;
  background-image: url("img/sprites.png");
  background-size: 1100%;
  background-position-x: 0%;
  background-position-y: 0%;
  opacity: 0;
  left: 13px;
  bottom: 4px;
  filter: drop-shadow(1px 1px 2px #000);
  -webkit-filter: drop-shadow(1px 1px 2px #000);
}

.task1 {
  background-position-x: 0%;
  opacity: 1;
}
.task2 {
  background-position-x: 10%;
  opacity: 1;
}
.task3 {
  background-position-x: 20%;
  opacity: 1;
}
.task4 {
  background-position-x: 30%;
  opacity: 1;
}
.task5 {
  background-position-x: 40%;
  opacity: 1;
}
.tasko {
  background-position-x: 50%;
  opacity: 1;
}
.taski1 {
  background-position-x: 60%;
  opacity: 1;
}
.taski2 {
  background-position-x: 70%;
  opacity: 1;
}
.taski3 {
  background-position-x: 80%;
  opacity: 1;
}
.taski4 {
  background-position-x: 90%;
  opacity: 1;
}

.bubble_custom {
  position: absolute;
  bottom: 105%;
  left: 25px;
  z-index: 1000;
}

/** Icon spots **/
.commander {
  background-image: url("img/captain.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 50px;
  height: 40px;
  filter: drop-shadow(1px 1px 2px #000);
  -webkit-filter: drop-shadow(1px 1px 2px #000);
}

.special {
  background-image: url("img/special.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 50px;
  height: 58px;
  filter: drop-shadow(1px 1px 2px #000);
  -webkit-filter: drop-shadow(1px 1px 2px #000);
}

.special2 {
  background-image: url("img/special2.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 50px;
  height: 58px;
  filter: drop-shadow(1px 1px 2px #000);
  -webkit-filter: drop-shadow(1px 1px 2px #000);
}

.commander_in_panel {
  width: 40px;
  height: 32px;
  display: inline-block;
  margin-left: 15px;
  background-image: url("img/captain.png");
  background-size: contain;
  background-repeat: no-repeat;
  filter: drop-shadow(1px 1px 2px #000);
  -webkit-filter: drop-shadow(1px 1px 2px #000);
}

.panel_container {
  display: flex;
  height: 35px;
  align-items: center;
}

.tricks {
  display: flex;
  height: 35px;
  align-items: center;
}

.trick {
  width: 30px;
  height: 30px;
  display: inline-block;
  margin-right: 5px;
  background-image: url("img/sprites.png");
  background-size: 1100%;
  background-position-x: 90%;
  background-position-y: 100%;
  filter: drop-shadow(1px 1px 2px #000);
  -webkit-filter: drop-shadow(1px 1px 2px #000);
}

.cardsinhands {
  display: flex;
  height: 35px;
  align-items: center;
}

.cardsinhand {
  width: 19px;
  height: 30px;
  display: inline-block;
  margin-left: 15px;
  margin-right: 5px;
  background-image: url("img/cards.png");
  background-size: 1100%;
  background-position-x: 100%;
  background-position-y: 0%;
  filter: drop-shadow(1px 1px 2px #000);
  -webkit-filter: drop-shadow(1px 1px 2px #000);
}

.taskontable {
  position: relative;
  top: 0px;
  left: 0px;
  width: 57px;
  height: 90px;
  background-image: url("img/tasks.png");
  background-size: 1100%;
  filter: drop-shadow(1px 1px 2px #000);
  -webkit-filter: drop-shadow(1px 1px 2px #000);
  border-radius: 5px;
}

.col1 {
  background-position-y: 0%;
}
.col2 {
  background-position-y: 33.3%;
}
.col3 {
  background-position-y: 66.6%;
}
.col4 {
  background-position-y: 100%;
}

.val1 {
  background-position-x: 0%;
}
.val2 {
  background-position-x: 10%;
}
.val3 {
  background-position-x: 20%;
}
.val4 {
  background-position-x: 30%;
}
.val5 {
  background-position-x: 40%;
}
.val6 {
  background-position-x: 50%;
}
.val7 {
  background-position-x: 60%;
}
.val8 {
  background-position-x: 70%;
}
.val9 {
  background-position-x: 80%;
}

.col5.val1 {
  background-position-y: 0%;
  background-position-x: 90%;
}
.col5.val2 {
  background-position-y: 33.3%;
  background-position-x: 90%;
}
.col5.val3 {
  background-position-y: 66.6%;
  background-position-x: 90%;
}
.col5.val4 {
  background-position-y: 100%;
  background-position-x: 90%;
}

.col6 {
  background-position-y: 33.3%;
  background-position-x: 100%;
}
.col7 {
  background-position-y: 0%;
  background-position-x: 100%;
}

.stockitem {
  filter: drop-shadow(1px 1px 2px #000);
  -webkit-filter: drop-shadow(1px 1px 2px #000);
  border-radius: 5px;
}

.logicon {
  width: 12px;
  height: 12px;
  display: inline-block;
  position: relative;
  margin: 0px;
  background-image: url("img/sprites.png");
  background-size: 1100%;
}

.logicon.blue {
  background-position: 30% 100% !important;
}
.logicon.green {
  background-position: 40% 100% !important;
}
.logicon.pink {
  background-position: 50% 100% !important;
}
.logicon.yellow {
  background-position: 60% 100% !important;
}
.logicon.black {
  background-position: 100% 100% !important;
}

.blue {
  color: blue;
}
.green {
  color: green;
}
.yellow {
  color: #e7b734;
}
.pink {
  color: #e97aaf;
}
.black {
  color: black;
}

.radio_temp {
  opacity: 0.8;
}

.success {
  color: green;
}

.failure {
  color: red;
}

.selectable {
  box-shadow: 0px 0px 20px 3px #4782ff !important;
  z-index: 1;
  cursor: pointer !important;
  display: block !important;
}

#distress.selectable,
.radio.selectable {
  box-shadow: none !important;
  filter: drop-shadow(0px 0px 10px #4782ff) !important;
  -webkit-filter: drop-shadow(0px 0px 10px #4782ff) !important;
}

.selected {
  /*	filter: drop-shadow(0px 0px 10px #4782ff) !important;	
	-webkit-filter: drop-shadow(0px 0px 10px #4782ff) !important;*/

  box-shadow: 0px 0px 20px 3px #ff0000 !important;
  z-index: 1;
  cursor: pointer !important;
  display: block !important;
}

.selectable:hover {
  transform: scale(1.2);
  transition: transform 0.2s;
  z-index: 2;
}
