/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * Hearts implementation fixes: © ufm <tel2tale@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 *
 * Hearts stylesheet
 *
 */

/*

    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to the HTML elements you defined in your
    HTML template (hearts_hearts.tpl), and to HTML elements you create dynamically
    (in hearts.js).
    
    Usually, you are using CSS to:
    
    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3°) ... anything else:
        This is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. This is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easyly.
        
        
     Note: on the production platform, this file will be compressed and comments will be remove.
           Consequently, don't hesitate to put as many comments as necessary.
*/

/**
 * Note: this code is modified to add suggestions from BGA players and popular variants.
 * Please visit here to read the basic code used in the BGA Studio tutorial: https://github.com/elaskavaia/
 */

/** Round summary popup **/

.tableWindow th {text-align: center;}

/** Prevents the top bar from shaking **/

#page-title {line-height: 38px;} #active_player_statusbar_icon {top: -5px;}
#page-title.action-button.bgabutton, #page-title.bgabutton {margin-bottom: 4px;}
#gameaction_status_wrap > div > img {top: 7px;}

/** Table layout **/

#game_board_wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#game_board {
    position: relative;
    width: 400px;
    height: 335px;
    text-align: center;
    margin: auto 5px auto auto;
}
#game_board.extended {height: 500px;}
#game_board.no_score_chart {margin: auto;}
#game_board.larger_board {height: 375px;}
#game_board.extended.larger_board {height: 560px;}
#score_chart {
    width: min-content;
    text-align: center;
    margin: auto auto auto 5px;
}
.table_color {background-color: rgba(255, 255, 255, 0.5);}
.table_cell {
    padding: 5px 10px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}

.playertablename {
    max-height: 40px;
    text-align: center;
    font-weight: bold;
    white-space: nowrap;
}
.dealer_token {display: none;}
.dealer_token.show_dealer {display: inline;}

.playertable {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    width: 110px;
    height: 140px;
    margin: 5px;
    border-radius: 10px;
}
.playertable.larger_table {height: 160px;}
.playertable_S {left: calc(50% - 70px); bottom: 0;}
.playertable_SW {left: -5px; bottom: 0;}
.playertable_W {left: -5px; top: 82.5px;}
.playertable_W_X {left: -5px; top: 165px;}
.playertable_NW {left: -5px; top: 0;}
.playertable_N {left: calc(50% - 70px); top: 0;}
.playertable_NE {right: -5px; top: 0;}
.playertable_E {right: -5px; top: 82.5px;}
.playertable_E_X {right: -5px; top: 165px;}
.playertable_SE {right: -5px; bottom: 0;}
.playertablecard {position: relative;}
.playertable_W.larger_table, .playertable_E.larger_table {top: 92.5px;}
.playertable_W_X.larger_table, .playertable_E_X.larger_table {top: 185px;}

/** stock card (background size fix is needed for Safari) **/

.stock_card_border {
    background-size: 1300% 400%;
    box-shadow: 1px 1px 2px black;
}
.unplayable {filter: brightness(0.7);}
.unplayable.unplayable_transparent {filter: none;}

/*** cards on table ***/

.card {
    position: absolute;
    background-size: 1300% 400%;
    box-shadow: 1px 1px 2px;
}
.card_1 {background-image: url('img/cards_1.png'); border-radius: 4px; box-shadow: none;}
.card_2 {background-image: url('img/cards_2.png'); border-radius: 4px;}
.card_3 {background-image: url('img/cards_3.png'); border-radius: 4px;}
.card_4 {background-image: url('img/cards_4.png'); border-radius: 10px;}
.card, .playertablecard {width: 72px; height: 96px;}
.card_2, .card_3, .card_4, .larger_card {width: 84px; height: 117px;}

/** hand zone **/

#myhand_wrap {
    position: relative;
    width: 95%;
    margin: 10px auto 0 auto;
    border-radius: 10px;
}
#myhand {margin-top: 5px;}